---
---

.post-info-icon-card {
  min-width: 80px;
  max-height: 80px;
}

.post-info-icon-card i {
  margin: 0 auto;
  background: rgba(0, 0, 0, .25);
  border-radius: 100%;
  text-align: center;
  line-height: 64px;
  font-size: 40px;
  color: #fff;
  width: 64px;
  height: 64px;
}

.comments-badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  color: #fff;
  background-color: #007bff;
}
