---
---

.post-info-icon-card {
  min-width: 80px;
  max-height: 80px;

}

.post-info-icon-card i {
  margin: 0 auto;
  background: rgba(0, 0, 0, .25);
  border-radius: 100%;
  text-align: center;
  line-height: 64px;
  font-size: 40px;
  color: #fff;
  width: 64px;
  height: 64px;
}
