---
---

.post-info-icon-card {
  min-width: 80px;
  max-height: 80px;
}

.post-info-icon-card i {
  margin: 0 auto;
  background: rgba(0, 0, 0, .25);
  border-radius: 100%;
  text-align: center;
  line-height: 64px;
  font-size: 40px;
  color: #fff;
  width: 64px;
  height: 64px;
}

.comments-badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  color: #fff;
  background-color: #007bff;
}

/* Extra Width classes because bootstrap doesn't support these yet... */
@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-100 {
    width: 100% !important;
  }
  .w-sm-auto {
    width: auto !important;
  }
  .h-sm-25 {
    height: 25% !important;
  }
  .h-sm-50 {
    height: 50% !important;
  }
  .h-sm-75 {
    height: 75% !important;
  }
  .h-sm-100 {
    height: 100% !important;
  }
  .h-sm-auto {
    height: auto !important;
  }
}

@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
  .w-md-auto {
    width: auto !important;
  }
  .h-md-25 {
    height: 25% !important;
  }
  .h-md-50 {
    height: 50% !important;
  }
  .h-md-75 {
    height: 75% !important;
  }
  .h-md-100 {
    height: 100% !important;
  }
  .h-md-auto {
    height: auto !important;
  }
}

@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-100 {
    width: 100% !important;
  }
  .w-lg-auto {
    width: auto !important;
  }
  .h-lg-25 {
    height: 25% !important;
  }
  .h-lg-50 {
    height: 50% !important;
  }
  .h-lg-75 {
    height: 75% !important;
  }
  .h-lg-100 {
    height: 100% !important;
  }
  .h-lg-auto {
    height: auto !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important;
  }
  .w-xl-50 {
    width: 50% !important;
  }
  .w-xl-75 {
    width: 75% !important;
  }
  .w-xl-100 {
    width: 100% !important;
  }
  .w-xl-auto {
    width: auto !important;
  }
  .h-xl-25 {
    height: 25% !important;
  }
  .h-xl-50 {
    height: 50% !important;
  }
  .h-xl-75 {
    height: 75% !important;
  }
  .h-xl-100 {
    height: 100% !important;
  }
  .h-xl-auto {
    height: auto !important;
  }
}

/* Cards gallery adapted from https://tutorialzine.com/2018/03/3-amazing-bootstrap-4-gallery-templates */
.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold;
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease;
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
  text-align: center;
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px;
}

.gallery-block.cards-gallery a {
  color: #212529;
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none;
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
	}
}

/* Colors adapted from W3.CSS */
.icon-bg-amber{color:#000!important;background-color:#ffc107!important}
.icon-bg-aqua{color:#000!important;background-color:#00ffff!important}
.icon-bg-blue{color:#fff!important;background-color:#2196F3!important}
.icon-bg-light-blue{color:#000!important;background-color:#87CEEB!important}
.icon-bg-brown{color:#fff!important;background-color:#795548!important}
.icon-bg-cyan{color:#000!important;background-color:#00bcd4!important}
.icon-bg-blue-grey{color:#fff!important;background-color:#607d8b!important}
.icon-bg-green{color:#fff!important;background-color:#4CAF50!important}
.icon-bg-light-green{color:#000!important;background-color:#8bc34a!important}
.icon-bg-indigo{color:#fff!important;background-color:#3f51b5!important}
.icon-bg-khaki{color:#000!important;background-color:#f0e68c!important}
.icon-bg-lime{color:#000!important;background-color:#cddc39!important}
.icon-bg-orange{color:#000!important;background-color:#ff9800!important}
.icon-bg-deep-orange{color:#fff!important;background-color:#ff5722!important}
.icon-bg-pink{color:#fff!important;background-color:#e91e63!important}
.icon-bg-purple{color:#fff!important;background-color:#9c27b0!important}
.icon-bg-deep-purple{color:#fff!important;background-color:#673ab7!important}
.icon-bg-red{color:#fff!important;background-color:#f44336!important}
.icon-bg-sand{color:#000!important;background-color:#fdf5e6!important}
.icon-bg-teal{color:#fff!important;background-color:#009688!important}
.icon-bg-yellow{color:#000!important;background-color:#ffeb3b!important}
.icon-bg-white{color:#000!important;background-color:#fff!important}
.icon-bg-black{color:#fff!important;background-color:#000!important}
.icon-bg-grey{color:#000!important;background-color:#9e9e9e!important}
.icon-bg-light-grey{color:#000!important;background-color:#f1f1f1!important}
.icon-bg-dark-grey{color:#fff!important;background-color:#616161!important}
.icon-bg-pale-red{color:#000!important;background-color:#ffdddd!important}
.icon-bg-pale-green{color:#000!important;background-color:#ddffdd!important}
.icon-bg-pale-yellow{color:#000!important;background-color:#ffffcc!important}
.icon-bg-pale-blue{color:#000!important;background-color:#ddffff!important}

.icon-text-amber{color:#ffc107!important}
.icon-text-aqua{color:#00ffff!important}
.icon-text-blue{color:#2196F3!important}
.icon-text-light-blue{color:#87CEEB!important}
.icon-text-brown{color:#795548!important}
.icon-text-cyan{color:#00bcd4!important}
.icon-text-blue-grey{color:#607d8b!important}
.icon-text-green{color:#4CAF50!important}
.icon-text-light-green{color:#8bc34a!important}
.icon-text-indigo{color:#3f51b5!important}
.icon-text-khaki{color:#b4aa50!important}
.icon-text-lime{color:#cddc39!important}
.icon-text-orange{color:#ff9800!important}
.icon-text-deep-orange{color:#ff5722!important}
.icon-text-pink{color:#e91e63!important}
.icon-text-purple{color:#9c27b0!important}
.icon-text-deep-purple{color:#673ab7!important}
.icon-text-red{color:#f44336!important}
.icon-text-sand{color:#fdf5e6!important}
.icon-text-teal{color:#009688!important}
.icon-text-yellow{color:#d2be0e!important}
.icon-text-white{color:#fff!important}
.icon-text-black{color:#000!important}
.icon-text-grey{color:#757575!important}
.icon-text-light-grey{color:#f1f1f1!important}
.icon-text-dark-grey{color:#3a3a3a!important}
.icon-text-pale-red{color:#ffdddd!important}
.icon-text-pale-green{color:#ddffdd!important}
.icon-text-pale-yellow{color:#ffffcc!important}
.icon-text-pale-blue{color:#ddffff!important}
