  <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/{{ site.baseurl }}">{{ site.author }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          {%- for data in site.data.urls -%}
          <li class="nav-item">
            <a class="nav-link" href="{{ data.url }}"><i class="{{ data.icon }} fa-2x"></i> {{ data.text }}</a>
          </li>
          {%- endfor -%}
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/meta"><i class="fas fa-info-circle fa-2x"></i> Meta</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
