<div class="social-icons">
    <a href="mailto:{{ site.contact.email }}"><i class="fas fa-envelope fa-2x text-secondary"></i></a>
    <a href="https://www.facebook.com/{{ site.contact.facebook }}"><i class="fab fa-facebook fa-2x" style="color: #3b5998;"></i></a>
    <a href="https://steamcommunity.com/id/tricksterguy87/{{ site.contact.steam }}"><i class="fab fa-steam fa-2x text-dark"></i></a>
    <a href="https://github.com/{{ site.contact.github }}"><i class="fab fa-github fa-2x text-dark"></i></a>
    <a href="{{ site.url }}/feed.xml"><i class="fas fa-rss-square fa-2x text-warning"></i></a>
    <a href="https://www.twitter.com/{{ site.contact.twitter }}"><i class="fab fa-twitter fa-2x text-info"></i></a>
    <a href="http://stackoverflow.com/{{ site.contact.stackoverflow }}"><i class="fab fa-stack-overflow fa-2x text-warning"></i></a>
    <a href="https://youtube.com/{{ site.contact.youtube }}"><i class="fab fa-youtube fa-2x text-danger"></i></a>
</div>
