---
layout: default
---
<div>
  <article>
    <div class="card my-3 shadow-sm">
      <div class="jumbotron bg-transparent">
        <h1>{{ page.title }}</h1>
        {%- if page.date -%}<p><i class="far fa-clock"></i> {{ page.date | date_to_string }}{%- if page.last_updated -%}&emsp;<i class="fas fa-edit"></i> {{ page.last_updated | date_to_string }}{%- endif -%}{%- endif -%}</p>
        <p>
            {%- assign category = page.categories.first -%}
            {%- assign predefined_url = site.data.categories[category].url -%}
            {%- capture url -%}{{ site.baseurl }}{% if predefined_url %}{{ predefined_url }}{% else %}/category/{{ category }}{% endif %}{%- endcapture -%}
            In &raquo; <a href="{{ url }}">{{ category }}</a>

            {%- for category in categories offset:1 -%}
            {%- unless site.data.categories[category].display == false -%}
            {%- assign predefined_url = site.data.categories[category].url -%}
            {%- capture url -%}{{ site.baseurl }}{% if predefined_url %}{{ predefined_url }}{% else %}/category/{{ category }}{% endif %}{%- endcapture -%}
            , <a href="{{ url }}">{{ category }}</a>
            {%- endunless -%}
            {%- endfor -%}
        </p>
        {%- if page.categories.first == "recipe" -%}<p><b>Skip right to the <a href="#recipe">recipe</a></b></p>{%- endif -%}
      </div>
    </div>
    <div class="card shadow-lg">
      {%- if page.image -%}<img src="{{ page.image }}" class="card-img-top"></img>{%- endif -%}
      <div class="card-body">{{ content }}</div>
    </div>
  </article>
  <hr/>

  <div class="d-flex">
    {%- if page.previous.url and page.enable_previous != false -%}
      <a class="mr-auto btn btn-sm btn-default btn-raised rounded-lg" href="{{ site.baseurl }}{{ page.previous.url }}" role="button">&laquo; {{ page.previous.title }}</a>
    {%- endif -%}
    {%- if page.next.url and page.enable_next != false -%}
      <a class="ml-auto btn btn-sm btn-default btn-raised rounded-lg" href="{{ site.baseurl }}{{ page.next.url }}" role="button">{{ page.next.title }} &raquo;</a>
    {%- endif -%}
  </div>
  <hr/>

  {%- include disqus.html -%}
</div>
