---
layout: default
---

<div class="m-3">
  <div class="card my-3 shadow-sm">
    <div class="jumbotron bg-transparent">
      <h1>{{ page.title }}</h1>
      <p>{{ page.subtitle }}</p>
    </div>
  </div>

  <div class="card shadow-lg m-3">
    <div class="card-body">{{ content }}</div>
  </div>

  <div class="card-deck m-3">
    {% for project in site.categories.projects %}
    <div class="card shadow">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ project.title | replace: " ", "_" }}">
        <img src="{{ site.baseurl }}/images/projects/{{ project.project_image }}" class="card-img-top p-2" alt="{{ project.title }}">
      </button>

      <!-- The Modal -->
      <div class="modal fade" id="myModal{{ project.title | replace: " ", "_" }}">
        <div class="modal-dialog" style="display: table;">
          <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
              <img src="{{ site.baseurl }}/images/projects/{{ project.project_image }}"></img>
            </div>
          </div>
        </div>
      </div>

      <div class="card-header">
        <h3 class="card-title card-link"><a href="{{ site.baseurl }}/{{ project.url }}">{{ project.title }}</a></h3>
        <p class="card-text">{{ project.start_date }}</p>
      </div>
      <div class="card-body">
        <p class="card-text">{{ project.description }}</p>
        <a href="{{ site.baseurl }}{{ project.url }}" class="card-link btn btn-info btn-sm bg-secondary rounded-lg" role="button">View</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
